html {
    max-width: auto;
    overflow-x: hidden;
}

body {
    background-color:blueviolet;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
}


main {
    background-color: #ffffff;
    width: 80vmax;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    max-width: 85%;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    display: inline-flex;
}

.logo {
    width: 1%;
    display: inline-flex;
    text-align: right; /*Quero jogar a logo para a direita*/
}

figure#video {
    width: 90%;
    min-width: 17.5em;
    margin: 0 auto;
}

figcaption.saibamais {
    font-size: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

figcaption.descricao {
    font-family: Verdana;
    font-size: 160%;
    text-align: center;
}

/*.video {
    width: 50vmax;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}*/

.video {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


